<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogging Site</title>
</head>
<body>
   <header>
    <h1><a href="/">Blogging Site</a></h1>
   </header>

   <article>
    <time datetime="">published: 14.06.2014, 12:14</time>
    <h2><a href="">My first post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, sed. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quam sed labore animi sit, id culpa adipisci possimus nobis veniam!</p>
   </article>

   <article>
    <time datetime="">published: 14.06.2014, 12:14</time>
    <h2><a href="">My second post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, tempore molestias nesciunt quisquam aliquam odit inventore sapiente doloremque quia, sunt cum excepturi delectus quaerat? Accusamus veniam quaerat in natus sit.</p>
   </article>
</body>
</html>